/target/
OperationalRoundtrip/target/classes/de/schlaich/gunnar/rhapsody/roundtrip/CGoogleTestRoundTrip.class
OperationalRoundtrip/target/classes/de/schlaich/gunnar/rhapsody/roundtrip/COperationalRoundtrip.class
*.class
